<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>F. von Never — @ViewBag.Title</title>
    <base href="/en/"/>
    <link rel="alternate" type="application/rss+xml" href="./rss.xml" title="RSS Feed"/>
    <link rel="stylesheet" type="text/css" href="../app/app.css"/>
</head>
<body>

<div id="header">
    <div id="logo">
        <a href="./">Engineer, Programmer, Gentleman</a>
    </div>
    <div id="navigation">
        <a href="./archive.html">Posts</a>
        <a href="./talks.html">Talks</a>
        <a href="./contact.html">Contacts</a>
        <a href="../plans/en/index.html">Plans</a>
    </div>
</div>

<div id="content">
    <div class="header-group">
        <h1 class="header">@ViewBag.Title</h1>
        @if (ViewBag.Links.English.IsActive)
        {
            <div class="languages">
                @if (ViewBag.Links.Russian.IsActive)
                {
                    <a href="@ViewBag.Links.Russian.Link" class="tag">Rus</a>
                }
                else
                {
                    <a class="tag inactive" title="Translation not available">Rus</a>
                }
            </div>
        }
    </div>

    @RenderBody()
</div>
<footer>
    <div>
        RSS:
        <a class="tag" href="./rss.xml">Eng</a>
        <a class="tag" href="/rss.xml">Eng+Rus</a>
    </div>
    <div>
        © F. von Never 2023
    </div>
    <div>
        <a class="tag" href="https://github.com/ForNeVeR/fornever.me">GitHub</a>
    </div>
</footer>
@RenderSection("scripts", false)

</body>
</html>
